.ListPokemon {

    .ListPokemon-Container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 2fr));
        margin: 15px;
    }

    .Pagination {
        display: flex;
        padding-left: 2.3%;
            }

    button {
        margin-top: 20px;
        background-color:rgba(127, 255, 212, 0.534);
        color: black;
        padding: 10px 20px;
        border-radius: 15px;
        text-align: center;
        font-size: 20px;
        border: solid 2px #000000;
        margin-left: 2.5px;
        margin-right: 2.5px;


        &:hover {
            color: white;
            background-color: rgb(37, 37, 37);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
        }
    }
}